
Source/THO5/cmake-build-Debug/

*.workspace
Source/THO5/cmake-build-Release/

#codelite files to be ignored
Source/THO5/.codelite/.tern-port
Source/THO5/.codelite/THO5.tags
Source/THO5/.codelite/refactoring.db
