Source/THO5/Lasergame/src/TestTask.hpp
Source/THO5/Lasergame/src/TestTask.cpp
Source/THO5/Lasergame/src/ir/runGame.hpp
Source/THO5/cmake-build-Debug/
Source/THO5/Lasergame/libs/bmptk/Makefile.custom
Source/THO5/Lasergame/libs/bmptk/Makefile.inc
Source/THO5/Lasergame/Makefile
*.workspace
Source/THO5/cmake-build-Release/

#codelite files to be ignored
Source/THO5/.codelite/.tern-port
Source/THO5/.codelite/THO5.tags
Source/THO5/.codelite/refactoring.db